@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);


@font-face {
    font-family: 'durselinvenice2015regular';
    src: url('durselinvenice2015-webfont.eot');
    src: url('durselinvenice2015-webfont.eot?#iefix') format('embedded-opentype'), 
         url('durselinvenice2015-webfont.woff2') format('woff2'),
         url('durselinvenice2015-webfont.woff') format('woff'),
         url('durselinvenice2015-webfont.ttf') format('truetype'),
         url('durselinvenice2015-webfont.svg#durselinvenice2015regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	padding-top:50px;
}
#branding{
    background: #FFF url("banner_encontre2.png") no-repeat 50% 50%;
    background-size: cover;
    line-height:1;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    /*right: 0;
    left: 0;
    top: 50px;*/
    width:100%;
}

#logo{
    padding: 10px 0px;
    margin:0;
    text-align: center;
}

#logo a {
    font-family: "durselinvenice2015regular";
    font-size: 5em;
    color: white;
    text-decoration: none;
}


ul.social-icons {
    padding-top: 5px;
    margin-bottom: 0;
}
.right {
    float: right;
}
ol, ul {
    list-style: outside none none;
}
.social-icons li {
    line-height: 0;
    margin-left: 10px;
}
.left {
    float: left;
}
.social-icons li a {
    display: inline-block;
    line-height: 0;
}
a {
    color: #2877AE;
    text-decoration: none;
}

.navbar-inverse {
	background: #153D35;
	border: none;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #000;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.social-icons-button {
	color: #fff;
	padding: 6px 10px;
}
#social-icons-collapse {
	float:right;
	margin-left: 15px;
}

.fa-lg {
    line-height: 1.5em;
}

#main-menu-collapse {
	float:left;
}
ul.top-menu {
	font-family: "Yanone Kaffeesatz",sans-serif;
	font-size: 22px;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav.top-menu > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #7CD773;
}
#social-icons-collapse .nav > li > a {
	padding: 10px 6px;
}
@media (min-width: 768px) and (max-width: 880px) {
	.nav > li > a {
    padding: 10px 8px;
	}
	ul.top-menu {
		font-size: 18px;
	}
}
#painel-lateral {
	position:absolute;
	top: 120px;
	right: 10px;
	padding: 5px 10px;
	background-color:#fff;
	z-index: 10;
	text-align:center;
	border-radius: 3px;
}
#painel-lateral a {
	color: #333;
	text-decoration: none;
}
#painel-lateral i {
}
.location {
	font-size: 10px;
	color: #5FCBA0;
	line-height:1;
	margin:0;
	padding:0;
	text-align:right;
	font-style:italic;
}

.navbar-brand {
    padding: 10px 15px;
}
